@use '/styles/constants/colors';
@use '/styles/mixins/animation';
@use '/styles/mixins/position';

.snackBar {
  @include position.position(fixed, auto auto 50px 50px);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
  max-width: 450px;
  padding: 10px 27px 10px 15px;
  font-size: 15px;
  color: colors.$WHITE;
  letter-spacing: 1px;
  overflow-wrap: anywhere;
  white-space: pre-line;
  background-color: #529b55;
  border-radius: 0.3px;
  border-radius: 5px;
  animation: moveRight 0.3s;

  button {
    @include position.position(absolute, 5px 5px auto auto);
    display: flex;
    align-items: center;
    height: auto;
    margin-left: 10px;

    svg {
      width: 15px;
      height: 100%;

      path {
        fill: colors.$WHITE;
      }
    }
  }
}

.warning {
  background-color: #f68a1c !important;
}

.error {
  background-color: #d84646 !important;
}
