@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.header {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 500;
  color: colors.$GRAY3;
  border-bottom: 1px solid;
}

.main {
  position: relative;
  display: flex;
  //   align-items: center;
  justify-content: space-between;
  padding: 10px 0 25px;

  .image {
    img {
      width: 100%;
      min-width: 200px;
      max-height: 230px;
    }
    padding-right: 15px;
  }

  .content {
    > div {
      display: flex;
      line-height: 40px;

      dt {
        width: 50px;
        color: colors.$GRAYA;
        letter-spacing: 1px;
      }

      dd {
        color: colors.$GRAY6;
        letter-spacing: 1px;
      }
    }
  }

  .buyButton {
    position: absolute;
    right: 10px;
    bottom: -10px;
    padding: 10px 20px;
    border: 1px solid colors.$GRAY3;
    border-radius: 5px;

    &:hover {
      background-color: colors.$GRAYD;
    }

    &:active {
      background-color: colors.$GRAYA;
    }
  }

  @include responsive.mobileOnly {
    flex-direction: column;
  }
}
