@use '/styles/constants/colors';
@use '/styles/mixins/position';
@use '/styles/mixins/responsive';

.slider {
  width: 100%;
  margin-bottom: 50px;
  background-color: transparent;

  .dots {
    bottom: -25px;
    z-index: 3;
  }

  img {
    height: 300px;
    margin: auto;
    text-shadow: 0 0 1px rgba(0, 0, 0, 50%);
    box-shadow: 14px 14px 9px 3px rgba(52, 52, 52, 20%);
    transform: skewY(-2.5deg) translateY(-2.7%);
    object-fit: contain;
  }

  .dlContent dt {
    width: 55px;
  }

  :root[color-theme='dark'] & {
    img {
      background-color: #dad6d3 !important;
    }

    &::after {
      background: linear-gradient(to bottom right, transparent 48%, colors.$BACKGROUND_COLOR 50.25%);
    }

    .dots {
      button::before {
        color: colors.$FONT_COLOR;
      }
    }
  }

  .slideContent {
    position: relative;
  }

  .description {
    @include position.position(absolute, auto auto 30px 10px);
    padding: 15px;
    line-height: 20px;
    color: rgb(124, 124, 124);
    text-align: left;
    background-color: rgba(255, 255, 255, 79.5%);
    border-radius: 7px;

    dl > div {
      display: flex;
    }
  }

  @include responsive.mobileOnly {
    .slideContent {
      width: auto !important;
    }
  }
}
