@use '/styles/constants/colors';
@use '/styles/mixins/responsive';
@use '/styles/mixins/flexbox';
@use '/styles/mixins/animation';

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;

  @include responsive.after(ML) {
    grid-gap: 40px;
  }

  @include responsive.after(SD) {
    grid-gap: 50px;
  }

  @include responsive.after(LD) {
    grid-gap: 60px;
  }
}
