@use '/styles/constants/colors';
@use '/styles/mixins/position';

.switch {
  @include position.position(relative, auto);
  display: inline-block;
  width: 54px;
  height: 28px;

  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.slider {
  @include position.position(absolute, 0 0 0 0);
  cursor: pointer;
  background-color: colors.$GRAYA;
  border-radius: 34px;
  transition: 0.2s;

  &::before {
    @include position.position(absolute, auto auto 3px 4px);
    width: 22px;
    height: 22px;
    content: '';
    background-color: colors.$WHITE;
    border-radius: 25px;
    transition: 0.2s;
  }
}

input:checked + .slider::before {
  transform: translateX(25px);
}

.textActive {
  &.textLeft {
    path {
      fill: rgb(231, 165, 78) !important;
    }
  }

  &.textRight {
    path {
      fill: colors.$ORANGE !important;
    }
  }
}

.text {
  @include position.position(absolute, 6px auto auto auto);
  z-index: 9;
  font-size: 5px;
  color: colors.$GRAYE;
  cursor: pointer;

  svg,
  svg path {
    width: 15px;
    height: 15px;
    fill: colors.$GRAYE !important;
  }
}

.textLeft {
  left: 7px;
}

.textRight {
  right: 7px;
}
