@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

.appWrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  background-color: colors.$MAIN_COLOR;

  :root[color-theme='dark'] & {
    // color: colors.$FONT_COLOR;
    background-color: colors.$BACKGROUND_COLOR;

    .app {
      color: colors.$MAIN_COLOR;
      background-color: colors.$BACKGROUND_COLOR;
    }

    .task {
      background-color: colors.$GRAY3;

      .title {
        color: colors.$FONT_COLOR;
      }
    }
  }
}

.app {
  @include flexbox.flexbox;
  flex-direction: column;
  width: calc(100% - levels.$SIDEBAR_WIDTH);
  max-width: calc(100% - levels.$SIDEBAR_WIDTH);
  height: 100%;
  background-color: colors.$MAIN_COLOR;

  @include responsive.mobileOnly {
    width: 100%;
    max-width: 100%;
  }
}

.full {
  width: 100%;
  max-width: 100%;
}
