@use '/src/styles/constants/colors';

.formWrapper {
  width: 50%;
  min-width: 270px;
  padding: 35px;
  margin: 60px 0 220px;
  background-color: colors.$SIGN_BACKGROUND;
  border-radius: 10px;

  header {
    font-size: 20px;
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    .signInButton {
      margin-bottom: 10px;
      font-size: 13px;
      color: colors.$GRAY3;

      &:hover {
        color: colors.$GRAYD;
      }
    }
  }

  input::placeholder {
    font-size: small;
    color: colors.$GRAY6;
  }

  :root[color-theme='dark'] & {
    color: colors.$SIGN_DARK_FONT !important;
    background-color: colors.$SIGN_DARK_BACKGROUND !important;

    label,
    input {
      color: colors.$SIGN_DARK_INPUT !important;
    }

    .signInButton {
      color: colors.$SIGN_DARK_INPUT;

      &:hover {
        color: colors.$GRAYA;
      }
    }

    path {
      fill: colors.$GRAYE;
    }
  }
}

input::-ms-reveal,
input::-ms-clear {
  position: absolute;
  right: 30px;
}
