@use '/styles/constants/colors';
@use '/styles/mixins/responsive';

.signInForm {
  .signInButtonWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    .signInButton {
      padding: 7px;
      font-size: 13px;
      font-weight: 500;
      color: colors.$SIGN_BUTTON;
      background-color: colors.$SIGN_BUTTON_BACKGROUND;
      border-radius: 100px;

      &:hover {
        color: colors.$SIGN_BUTTON_HOVER;
        background-color: colors.$SIGN_BUTTON_HOVER_BACKGROUND;
      }
    }
  }

  :root[color-theme='dark'] & {
    color: colors.$SIGN_DARK_FONT !important;
    background-color: colors.$SIGN_DARK_BACKGROUND !important;

    label,
    input {
      color: colors.$SIGN_DARK_INPUT !important;
    }

    path {
      fill: colors.$GRAYE;
    }

    input::placeholder {
      font-size: small;
      color: colors.$SIGN_DARK_PLACEHOLDER;
    }
  }
}
