@use '/styles/constants/colors';
@use '/styles/mixins/responsive';
@use '/styles/mixins/position';

.bannerListWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  overflow-x: scroll;
  cursor: grab;

  .infoWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 250px;

    img {
      height: 150px;
      max-height: 150px;
      object-fit: cover;
    }
  }

  .titleLabel {
    width: 180px;
    margin-bottom: 10px;
    overflow: hidden;
    color: colors.$GRAY3;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ownerLabel {
    margin-top: 10px;
    color: colors.$GRAY3;
  }

  .deleteButton {
    @include position.position(absolute, -5px 5px auto auto);
    width: auto;
    height: auto;
    padding: 1px 6px;

    &:hover {
      &::after {
        @include position.position(absolute, 2px -2px auto auto);
        display: inline-block;
        width: 20px;
        height: 20px;
        content: '';
        background-color: rgba(184, 184, 184, 28.1%);
        border-radius: 50px;
      }
    }
  }
}
