@use '/styles/mixins/responsive';
@use '/styles/constants/colors';

.container {
  position: relative;
  padding: 30px;
  border-radius: 10px;
  @include responsive.mobileOnly {
    padding: 10px;
    margin: 15px 10px 20px;
  }

  :root[color-theme='dark'] & {
    color: colors.$WHITE;
  }
}

.sm {
  width: 50%;
}

.md {
  width: 70%;
}

.lg {
  width: 100%;
}

.white {
  background-color: #efeff1;

  :root[color-theme='dark'] & {
    background-color: colors.$BANNER_DARK_FONT_COLOR;
  }
}
