@use '/styles/constants/colors';
@use '/styles/mixins/responsive';
@use '/styles/mixins/position';
@use '/styles/mixins/animation';

.signUpForm {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    .signUpButton {
      padding: 7px;
      font-size: 13px;
      font-weight: 500;
      color: colors.$SIGN_BUTTON;
      background-color: colors.$SIGN_BUTTON_BACKGROUND;
      border-radius: 100px;

      &:hover {
        color: colors.$SIGN_BUTTON_HOVER;
        background-color: colors.$SIGN_BUTTON_HOVER_BACKGROUND;
      }
    }
  }

  .loadingBar {
    @include position.position(absolute, 15px auto auto 0);
    width: 100%;
    height: 4px;
    margin: auto;
    background: linear-gradient(to right, rgb(250, 166, 10), rgb(255, 196, 109));
    background-color: #cccccc69;
    background-repeat: repeat-y;
    background-position: -25% 0;
    background-size: 20%;
    border-radius: 4px;
    animation: loadingScroll 1.2s ease-in-out infinite;
  }

  :root[color-theme='dark'] & {
    color: colors.$SIGN_DARK_FONT !important;
    background-color: colors.$SIGN_DARK_BACKGROUND !important;

    label,
    input {
      color: colors.$SIGN_DARK_INPUT !important;
    }

    path {
      fill: colors.$GRAYE;
    }

    input::placeholder {
      font-size: small;
      color: colors.$SIGN_DARK_PLACEHOLDER;
    }
  }
}
