@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/animation';

.main {
  min-width: 200px;
  max-width: 100%;
  height: 100%;
  background-color: #ebe7e4;

  :root[color-theme='dark'] & {
    background-color: colors.$BACKGROUND_COLOR !important;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;

  @include responsive.after(ML) {
    grid-gap: 40px;
  }

  @include responsive.after(SD) {
    grid-gap: 50px;
  }

  @include responsive.after(LD) {
    grid-gap: 60px;
  }
}

.loading {
  width: 100%;
  margin: 30px 0;
  text-align: center;

  > svg {
    width: auto;
    height: 50px;
    animation: rotation 1s infinite linear;

    path {
      fill: rgb(241, 155, 42);
    }
  }
}

.scrollTargetLi {
  margin-top: 30px;
}
