@use '/styles/constants/colors';
@use '/styles/mixins/flexbox';
@use '/styles/mixins/position';

.inputForm {
  @include position.position(relative, auto);
  display: flex;
  flex-direction: column;
  margin: 35px 0;

  .formTitle {
    margin-bottom: 5px;
    font-size: 15px;
    color: colors.$INPUT_TEXT;
  }

  .iconHidden {
    display: none;
  }

  svg {
    @include position.position(absolute, 26px 10px auto auto);
    block-size: 12px;
    width: fit-content;
    cursor: pointer;
    // opacity: 0.3;

    path {
      fill: rgb(109, 109, 109);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .inputText {
    padding: 5px;
    border-bottom: 1.5px solid colors.$INPUT_BORDER;
    border-radius: 1px;
  }

  .inputTextarea {
    padding: 5px;
    border: none;
    border-bottom: 1.5px solid colors.$INPUT_BORDER;
    border-radius: 3px;
  }

  .readOnlyInput {
    background-color: colors.$GRAYE;
  }

  :root[color-theme='dark'] & {
    .formTitle {
      margin-bottom: 5px;
      color: colors.$DARK_INPUT_TEXT;
    }

    svg {
      path {
        fill: rgb(165, 165, 165);
      }
    }
  }
}

.errorMessage {
  font-size: 13px !important;
  color: colors.$RED;
  letter-spacing: 0.5px;
}
