@use '/styles/constants/colors';
@use '/styles/mixins/responsive';

.formWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 270px;
  max-width: 450px;
  height: auto;
  padding: 35px;
  margin: 30px;
  background-color: colors.$SIGN_BACKGROUND;
  border-radius: 10px;
  box-shadow: 0 0 27px 11px #555555;

  header {
    font-size: 20px;
    text-align: center;

    svg {
      width: 77px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;

    .signUpButton {
      font-size: 13px;
      font-weight: 400;
      color: colors.$SIGN_BUTTON;

      &:hover {
        color: colors.$SIGN_BUTTON_HOVER;
      }
    }
  }

  :root[color-theme='dark'] & {
    color: colors.$SIGN_DARK_FONT !important;
    background-color: colors.$SIGN_DARK_BACKGROUND !important;

    label,
    input {
      color: colors.$SIGN_DARK_INPUT !important;
    }

    path {
      fill: colors.$GRAYE;
    }

    input::placeholder {
      font-size: small;
      color: colors.$SIGN_DARK_PLACEHOLDER;
    }

    .signUpButton {
      font-size: 13px;
      color: colors.$SIGN_DARK_INPUT;

      &:hover {
        color: colors.$GRAYA;
      }
    }
  }

  @include responsive.mobileOnly {
    width: 85%;
  }
}
