@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/responsive';

.hideSidebar {
  width: 0 !important;
  min-width: 0 !important;
}

.aside {
  width: levels.$SIDEBAR_WIDTH;
  min-width: levels.$SIDEBAR_WIDTH;
  min-height: 100vh;
  // display: none;
  overflow: auto;
  color: #fafafb;
  text-align: center;
  // border-right: 1px rgb(255, 255, 255) solid;
  background-color: #333547;

  .nav {
    margin-top: 120px;

    li {
      cursor: pointer;

      > a {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 10px 15px;
        letter-spacing: 2px;

        &:hover {
          background-color: #212631;
        }

        &:link {
          color: #fafafb;
          text-decoration: none;
        }

        &:visited {
          color: #fafafb;
          text-decoration: none;
        }

        &:hover {
          color: #fafafb;
          text-decoration: none;
        }
      }

      .isActive {
        width: 100%;
        font-weight: 700;
        color: #fafafb;
        background-color: #1e2431;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 7px 0;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;

    a {
      &:visited {
        color: #e3e3e4;
        text-decoration: none;
      }

      &:link {
        color: rgb(255, 0, 0);
        text-decoration: none;
      }
    }

    svg {
      width: 32px;
      height: auto;
      margin-right: 5px;
    }
  }

  :root[color-theme='dark'] & {
    color: colors.$FONT_COLOR;
    background-color: #2a3142;

    a,
    button {
      color: colors.$FONT_COLOR;
    }

    .task {
      background-color: colors.$GRAY3;

      .title {
        color: colors.$FONT_COLOR;
      }
    }
  }
}

@include responsive.mobileOnly {
  .aside {
    width: 0;
    min-width: 0;
    padding: 0;
  }
}

.openSidebar {
  width: levels.$SIDEBAR_WIDTH;
  min-width: levels.$SIDEBAR_WIDTH;
}
