@use '/styles/constants/colors';
@use '/styles/mixins/animation';
@use '/styles/mixins/flexbox';

.header {
  @include flexbox.flexbox(between, center);
  padding: 15px;
  margin-bottom: 15px;
  font-weight: 500;

  .title {
    font-size: 17px;
  }
}

.content {
  padding: 10px 30px 30px;

  div {
    margin-bottom: 15px;
  }

  dt {
    font-size: 12px;
    color: colors.$MODAL_DT_TEXT;
  }

  dd {
    font-size: 16px;
    color: colors.$MODAL_DD_TEXT;
  }

  img {
    width: 100%;
    object-fit: contain;
    max-height: 350px;
  }
}

.footer {
  @include flexbox.flexbox(end);
  width: 100%;

  button {
    height: 44px;
    font-size: 15px;
  }

  .cancelButton {
    width: fit-content;
    padding: 5px 25px;
    color: colors.$GRAY2;
    border-radius: 5px;

    &:hover {
      color: colors.$GRAYA;
    }

    &:active {
      color: colors.$GRAY2;
    }
  }

  .buyButtonWrapper {
    position: relative;

    .buyButton {
      width: 100px;
      padding: 5px 25px;
      color: colors.$GRAYE;
      background-color: colors.$PRIMARY_BUTTON_BACKGROUND;
      border-radius: 5px;

      &:hover {
        color: colors.$GRAYD;
        background-color: colors.$PRIMARY_BUTTON_HOVER_BACKGROUND;
      }

      &:active {
        background-color: colors.$PRIMARY_BUTTON_ACTIVE_BACKGROUND;
      }
    }

    .buyMenu {
      position: absolute;
      top: -20px;
      // display: none;
      z-index: -1;
      width: 100px;
      overflow: hidden;
      background-color: colors.$GRAYE;
      border: 1px solid rgb(187, 187, 187);
      border-radius: 7px;
      opacity: 0;
      transition: all ease-in-out 0.2s;

      & > li:nth-child(1) {
        border-bottom: 1px solid colors.$GRAYD;
      }

      button {
        width: 100%;

        &:hover {
          background-color: colors.$GRAYA;
        }
      }
    }

    .menuOpen {
      position: absolute;
      top: 45px;
      right: 0;
      // display: block;
      // height: fit-content;
      visibility: visible;
      opacity: 1;
    }
  }
}
