@use '/styles/constants/colors';
@use '/styles/mixins/responsive';
@use '/styles/mixins/flexbox';
@use '/styles/mixins/position';

.header {
  margin: 10px 0;
}

.table {
  display: block;
  width: 100%;
  padding: 3px;
  margin: 10px 0;
  overflow: auto;
  text-align: center;
  border-style: hidden;
  border-radius: 9px;

  thead {
    border-bottom: 2px solid colors.$GRAYA;
  }

  th {
    padding: 6px;
    color: colors.$GRAY6;
    border: 1px solid colors.$GRAYA;
  }

  tr {
    border: 1px solid colors.$GRAYA;
  }

  tbody {
    border: 1px solid colors.$GRAYA;
  }

  td {
    padding: 8px;
    text-align: left;
    border: 1px solid colors.$GRAYA;
  }

  .tdIndex {
    text-align: center;
  }

  .tdTitle {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tdPrice {
    text-align: right;
  }

  .tdDescription {
    // max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tdAdd {
    text-align: center;

    .addButton {
      position: relative;
      width: auto;
      height: auto;

      &:hover {
        &::after {
          @include position.position(absolute, 1px -8px auto auto);
          display: inline-block;
          width: 20px;
          height: 20px;
          content: '';
          background-color: rgba(184, 184, 184, 28.1%);
          border-radius: 50px;
        }
      }
    }
  }

  :root[color-theme='dark'] & {
    button {
      color: colors.$HEADER_DARK_FONT_COLOR;
    }
  }
}
