@use '/styles/constants/colors';
@use '/styles/mixins/animation';

.tableWrapper {
  width: 100%;
  overflow: auto;
}

.userTable {
  display: table;
  width: 100%;
  padding: 5px;
  text-align: center;

  thead {
    font-weight: 500;
    border-bottom: 1px colors.$GRAY2 solid;

    th {
      padding: 10px;
      color: colors.$GRAY2;
    }
  }

  tbody {
    color: colors.$TD_FONT_COLOR;

    td {
      padding: 10px;
      text-align: center;

      button {
        display: flex;
        padding: 7px 16px;
        margin: auto;
        color: colors.$TD_BUTTON_FONT;
        border-radius: 10px;

        .trashIcon {
          width: 15px;
          height: auto;
        }

        &:hover {
          color: colors.$GRAYE;
          background-color: colors.$TD_BUTTON_HOVER;
        }

        &:active {
          background-color: colors.$TD_BUTTON_ACTIVE;
        }
      }
    }
  }

  :root[color-theme='dark'] & {
    th,
    td {
      color: colors.$HEADER_DARK_FONT_COLOR !important;
    }

    thead {
      border-bottom: 1px colors.$GRAYE solid;
    }

    button {
      svg {
        fill: colors.$GRAYD;
      }

      &:hover {
        color: colors.$GRAY3;
        background-color: colors.$TD_BUTTON_HOVER;
      }

      &:active {
        background-color: colors.$TD_BUTTON_ACTIVE;
      }
    }
  }
}

.loading {
  width: 100%;
  margin: 30px 0;
  text-align: center;

  > svg {
    width: auto;
    height: 50px;
    animation: rotation 1s infinite linear;

    path {
      fill: colors.$FONT_COLOR;
    }
  }
}
