@use '/styles/constants/colors';
@use '/styles/constants/levels';
@use '/styles/mixins/responsive';
@use '/styles/mixins/flexbox';
@use '/styles/mixins/position';

.hideSidebar {
  width: 0 !important;
  min-width: 0 !important;
  transition: all 0.2s ease-in-out;

  .menuToggle {
    @include position.position(fixed, auto auto 10px 13px);
  }
}

.aside {
  z-index: 2;
  width: levels.$SIDEBAR_WIDTH;
  min-width: levels.$SIDEBAR_WIDTH;
  min-height: 100vh;
  overflow: auto;
  color: colors.$SIDE_FONT_COLOR;
  text-align: center;
  background-color: colors.$WHITE;
  box-shadow: 0 0 10px 0 rgba(139, 139, 139, 58.9%);

  .logo {
    @include flexbox.flexbox;
    width: 100%;
    margin: 7px 0;
    font-size: 19px;
    font-weight: bolder;
    text-transform: uppercase;

    a {
      &:visited {
        color: colors.$SIDE_FONT_COLOR;
        text-decoration: none;
      }
    }

    svg {
      width: 32px;
      height: auto;
      margin-right: 5px;
    }
  }

  .nav {
    margin: 100px 20px;
    font-size: 13px;

    li {
      margin: 1px auto;
      cursor: pointer;

      > a {
        display: flex;
        align-items: center;
        height: 45px;
        padding: 10px 15px;
        color: colors.$SIDE_FONT_COLOR;
        letter-spacing: 2px;

        &:hover {
          color: colors.$SIDE_LINK_RESET;
          background-color: colors.$SIDE_MENU_HOVER;
        }

        &:link {
          color: colors.$SIDE_FONT_COLOR;
          text-decoration: none;
        }

        &:visited {
          text-decoration: none;
        }
      }

      .isActive {
        width: 100%;
        font-weight: 400;
        color: colors.$SIDE_LINK_RESET;
        background-color: colors.$SIDE_MENU_ACTIVE;
      }
    }
  }

  .menuToggle {
    z-index: 1000;
    align-items: center;
    height: 40px;

    svg {
      width: 30px;
      height: 30px;

      path {
        fill: colors.$GRAYA;
      }
    }

    &:hover {
      path {
        fill: colors.$GRAY2;
      }
    }
  }

  :root[color-theme='dark'] & {
    color: colors.$FONT_COLOR;
    background-color: colors.$SIDE_DARK_BACKGROUND_COLOR;
    box-shadow: 0 0 10px 0 rgba(41, 41, 41, 58.9%);

    .nav {
      a {
        color: colors.$GRAYA;
      }
    }

    .isActive,
    .logo {
      color: colors.$FONT_COLOR !important;
    }

    .task {
      background-color: colors.$GRAY3;

      .title {
        color: colors.$FONT_COLOR;
      }
    }
  }
}

@include responsive.mobileOnly {
  .aside {
    width: 0;
    min-width: 0;
    padding: 0;
  }
}

.openSidebar {
  width: levels.$SIDEBAR_WIDTH;
  min-width: levels.$SIDEBAR_WIDTH;
  transition: all 0.2s ease-in-out;

  .menuToggle {
    @include position.position(fixed, auto auto 10px 150px);
  }
}
