@use '/styles/constants/colors';
@use '/styles/mixins/responsive';

.formWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 270px;
  max-width: 450px;
  height: auto;
  padding: 35px;
  margin: 30px;
  background-color: colors.$SIGN_BACKGROUND;
  border-radius: 10px;
  box-shadow: 0 0 15px 3px #30303057;

  header {
    font-size: 20px;
    text-align: center;

    svg {
      width: 77px;
    }
  }

  .siginInFooter {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    text-align: center;

    button {
      width: fit-content;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  input::placeholder {
    font-size: small;
    color: colors.$GRAY6;
  }

  :root[color-theme='dark'] & {
    color: colors.$SIGN_DARK_FONT !important;
    background-color: colors.$SIGN_DARK_BACKGROUND !important;

    label,
    input {
      color: colors.$SIGN_DARK_INPUT !important;
    }

    .signInButton {
      color: colors.$SIGN_DARK_INPUT;

      &:hover {
        color: colors.$GRAYA;
      }
    }

    path {
      fill: colors.$GRAYE;
    }
  }

  @include responsive.mobileOnly {
    width: 85%;
  }
}
