.slider {
  .dots {
    bottom: 0;
    z-index: 3;
  }

  img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    background-color: #ebe7e4;
  }

  .dlContent dt {
    width: 55px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    content: '';
    background: linear-gradient(to bottom right, transparent 48%, #ebe7e4 50.25%);
  }

  .slideContent {
    position: relative;
  }

  .description {
    position: absolute;
    bottom: 30px;
    left: 10px;
    padding: 15px;
    color: rgb(124, 124, 124);
    background-color: rgba(255, 255, 255, 66.4%);
    border-radius: 7px;

    dl > div {
      display: flex;
    }
  }
}
