@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';

.snackBar {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
  padding: 10px 16px;
  font-size: 15px;
  color: colors.$WHITE;
  letter-spacing: 1px;
  white-space: pre-line;
  background-color: #529b55;
  border-radius: 0.3px;
  border-radius: 5px;
  animation: moveRight 0.3s;

  button {
    display: flex;
    align-items: center;
    height: auto;
    margin-left: 10px;

    svg {
      width: 15px;
      height: 100%;

      path {
        fill: colors.$WHITE;
      }
    }
  }
}

.warning {
  background-color: #f68a1c !important;
}

.error {
  background-color: #d84646 !important;
}
