@use '/styles/constants/colors';
@use '/styles/mixins/responsive';
@use '/styles/mixins/position';

.header {
  display: flex;
  justify-content: space-between;
  width: 99%;
  padding: 5px;
  margin: 6px 0;
  background-color: colors.$WHITE;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 15px;

  .leftMenu {
    @include position.position(relative, auto);
    display: flex;
    align-items: center;
  }

  :root[color-theme='dark'] & {
    color: colors.$HEADER_DARK_FONT_COLOR;
    background-color: colors.$HEADER_DARK_BACKGROUND_COLOR;

    a,
    button {
      color: colors.$HEADER_DARK_FONT_COLOR;
    }

    .lang button {
      color: colors.$FONT_COLOR !important;
    }

    .task {
      background-color: colors.$GRAY3;

      .title {
        color: colors.$FONT_COLOR;
      }
    }
  }

  .rightMenu {
    @include position.position(relative, auto);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    ul {
      display: flex;
      align-items: center;

      .userMenu {
        font-size: 13px;
        color: colors.$GRAY6;

        &:hover {
          font-weight: 600;
        }
      }
    }

    li {
      + li {
        margin-left: 17px;
      }
    }

    a {
      padding: 4px;
      color: colors.$GRAY2;

      &.isActive {
        font-weight: 600;
      }
    }

    .settingIcon {
      height: 25px;

      svg {
        width: 25px;
        height: 25px;

        path {
          fill: colors.$GRAY6;
        }
      }

      &:hover {
        path {
          fill: colors.$GRAY3;
        }
      }
    }

    @include responsive.mobileOnly {
      ul {
        font-size: 12px;

        li {
          + li {
            margin-left: 7px;
          }
        }
      }

      .settingIcon {
        display: none;
      }
    }
  }
}
