// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;
$MAIN_COLOR: #ebe7e4;

// Card
$CARD_BORDER: rgb(206, 206, 206);
$CARD_BORDER_HOVER: rgb(163, 163, 163);
$CARD_BODER_BOTTOM: rgb(237, 239, 241);
$CARD_SUB_TEXT: rgb(148, 162, 173);

// Input Form
$INPUT_TEXT: rgb(132, 135, 138);
$INPUT_BORDER: rgb(206, 212, 218);
$ERROR_TEXT: rgb(211, 20, 20);

// Dark Mode
$FONT_COLOR: #f1842e;
$SUB_FONT_COLOR: #3e3747;
$BACKGROUND_COLOR: #222736;

// Side Bar
$SIDE_FONT_COLOR: #fafafb;
$SIDE_BACKGROUND_COLOR: #333547;
$SIDE_DARK_BACKGROUND_COLOR: #2a3142;
$SIDE_MENU_HOVER: #212631;
$SIDE_MENU_ACTIVE: #1e2431;
$SIDE_LINK_RESET: #fafafb;

// Header
$HEADER_BACKGROUND_COLOR: #e2e2df;
$HEADER_DARK_BACKGROUND_COLOR: #252941;

// Sign
$SIGN_BACKGROUND: #f5f5f5;
$SIGN_BUTTON: #f7f7f7;
$SIGN_BUTTON_BACKGROUND: #f5a556;
$SIGN_BUTTON_HOVER: #666666;
$SIGN_BUTTON_HOVER_BACKGROUND: #ffc68c;
$SIGN_DARK_FONT: #cdcdcd;
$SIGN_DARK_BACKGROUND: #3b4a5f;
$SIGN_DARK_INPUT: #cacaca;
$SIGN_DARK_PLACEHOLDER: #767676;

// Modal
$MODAL_BACKDROP_BACKGROUND: #313131c0;
$MODAL_HEADER: #1e262a;
$MODAL_BACKDROP_BACKGROUND: #2c2c2ca6;
$MODAL_DT_TEXT: #aaaaaa;
$MODAL_DD_TEXT: #464646;
$MODAL_BUTTON_BORDER: #3b3b3b;

$PRIMARY_BUTTON_BACKGROUND: #db7629;
$PRIMARY_BUTTON_HOVER_BACKGROUND: #e09860;
$PRIMARY_BUTTON_ACTIVE_BACKGROUND: #b66323;

$MODAL_BUTTON_CONFIRM_TEXT: #eeeeee;
$MODAL_BUTTON_HOVER_CONFIRM_TEXT: #ebebeb;

// Admin Setting
$TAB_BAR: #e48237;
$TAB_ACTIVE: #e48237;

// Table
$TD_FONT_COLOR: #585858;
$TD_BUTTON_FONT: #585858;
$TD_BUTTON_HOVER: #bdbdbd;
$TD_BUTTON_ACTIVE: #696969;
