@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/responsive';

.gnb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 5px;

  ul {
    display: flex;
    align-items: center;
    font-size: 15px;

    .logout {
      font-size: 15px;
    }
  }

  li {
    + li {
      margin-left: 17px;
    }
  }

  a {
    padding: 4px;
    color: colors.$GRAY2;

    &.isActive {
      font-weight: 600;
    }
  }

  .settingIcon {
    height: 25px;

    svg {
      width: 25px;
      height: 25px;

      path {
        fill: colors.$GRAY6;
      }
    }
  }

  @include responsive.mobileOnly {
    ul {
      font-size: 12px;

      li {
        + li {
          margin-left: 7px;
        }
      }
    }

    .settingIcon {
      display: none;
    }
  }
}
