@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.formWrapper {
  width: 50%;
  padding: 35px;
  margin: 50px;
  background-color: colors.$SIGN_BACKGROUND;
  border-radius: 10px;

  header {
    font-size: 20px;
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    .signUpButton {
      font-size: 13px;
      color: colors.$SIGN_BUTTON;

      &:hover {
        color: colors.$SIGN_BUTTON_HOVER;
      }
    }
  }

  :root[color-theme='dark'] & {
    color: colors.$SIGN_DARK_FONT !important;
    background-color: colors.$SIGN_DARK_BACKGROUND !important;

    label,
    input {
      color: colors.$SIGN_DARK_INPUT !important;
    }

    path {
      fill: colors.$GRAYE;
    }

    input::placeholder {
      font-size: small;
      color: colors.$SIGN_DARK_PLACEHOLDER;
    }

    .signUpButton {
      font-size: 13px;
      color: colors.$SIGN_DARK_INPUT;

      &:hover {
        color: colors.$GRAYA;
      }
    }
  }

  @include responsive.mobileOnly {
    width: 85%;
  }
}

input::-ms-reveal,
input::-ms-clear {
  position: absolute;
  right: 30px;
}
